<template>
  <div class="css">
      <div class="navbar">
          <router-link to="/newpost"><h3>Yeni Note</h3></router-link>
        </div>
        <h3>Notlar</h3>
        <template v-for="post in posts">
          <post-item :post=post></post-item>
        </template>
      
  </div>
</template>


<script>
import PostItem from './PostItem.vue'

export default {
  name: 'Home',
  data() {
    return {
      posts: []
    }
  },
  created() {
    fetch("https://my-json-server.typicode.com/zisankarsatar/demo/posts")
    .then((res) => { return res.json() })
    .then((posts) => { this.posts = posts; })
  },
  components: { PostItem }
}
</script>

<style scoped>
.css{
  text-align: center;
  /*
  background-image:url("https://miro.medium.com/max/1400/1*o8tTGo3vsocTKnCUyz0wHA.jpeg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:100% 100%;*/
}
.css .navbar{
  height:40px;
  width:900px;
  margin-top:20px;
  margin-left:300px;
  text-align: center;
  background-color: cadetblue;
  border: 2px solid;
  border-radius: 25px;
  
}
.css h3{
  color:black;
  margin-top:7px;
}
</style>