<template>

    <div class="newpost">
        <div class="navbar">
            <router-link to="/"><h3>Home</h3></router-link>
        </div>
        <div class="title">
            <label for="w3mission">Başlık:</label>
            <input type="text" id="fname" name="fname"><br><br>
        </div>
        <div class="body">
          <label >İçerik:</label>
            <textarea rows="5" cols="50"></textarea>
        </div>
        <button class="button">Kaydet</button>
    </div>
</template>

<script>
export default {
    name:"NewPost"
}
</script>

<style  scoped>
.newpost{
  height:100px;
  width:400px;
  margin-left:300px;
  text-align: left;
  margin-top:25px;
}
.newpost .navbar{
  height:40px;
  width:900px;
  text-align: center;
  background-color: cadetblue;
  border: 2px solid;
  border-radius: 25px;
}

.newpost .navbar h3{
  color:black;
  margin-top:10px;
}

.newpost .title{
  width: 410px;
  height: 40px;
  border: 2px solid;
  border-radius: 25px;
  margin-left: 235px;
  margin-bottom: 5px;
  margin-top:20px;
  background-color: aquamarine;
}

.newpost .title label{
  margin-left: 100px;
  margin-top: 10px;
}
.newpost .title input{
  margin-top: 10px;
}
.newpost .body{
  width: 410px;
  height: 125px;
  border: 2px solid;
  border-radius: 25px;
  margin-left: 235px;
  background-color: aquamarine;
}

.newpost .body label{
  margin-top:75px; 
  margin-left:25px;
  align-self: center;
}

.newpost .body textarea{
  margin-top:10px; 
  margin-left:15px;
  align-self: center;  
}

.newpost button{
  margin-top:5px; 
  margin-left:530px;
  background-color: cadetblue;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  cursor: pointer;
  border: 2px solid;
  border-radius: 25px;
  
}
</style>