<template>
  <div class="profile">
    <div class="navbar">
      <router-link to="/"><h3>Home</h3></router-link>
    </div>
    <div class="body">
      <div class="body-title">
        <h2>{{userData.username}}</h2>
      </div>
      <div class="body-body">
          <table>
              <tr>
                <td>Email:</td>
                <td>{{userData.email}}</td>
              </tr>
              <tr>
                <td>Meslek:</td>
                <td>{{userData.job}}</td>
              </tr>
              <tr>
                <td>Okul:</td>
                <td>{{userData.okul}}</td>
              </tr>
              <tr>
                <td>İlgi Alanları:</td>
                <td>{{userData.ilgi}}</td>
              </tr>
          </table>
      </div>
    </div>
    <div class="postList">
      <template v-for="post in postData">
          <div class="title">
            <h1>{{post.title}}</h1>  
          </div>
        <div class="body-body">{{post.body}}</div>
        <div class="body-footer">{{post.createDate}}</div>
        <br><br>
        <div class="bosluk"></div>
      </template>
    </div>
  </div>
</template>


<script>
export default {
  name: 'UserProfile',
  data() {
    return {
      userData: {},
      postData: []
    }
  },
  methods: {
    fetchUser() {
      fetch(`https://my-json-server.typicode.com/zisankarsatar/demo/users/${this.$route.params.id}`)
      .then((res) => { return res.json() })
      .then((data) => { this.userData = data; })
    },
    fetchData() {
      fetch(`https://my-json-server.typicode.com/zisankarsatar/demo/posts?userId=${this.$route.params.id}`)
      .then((res) => { return res.json() })
      .then((data) => { this.postData = data; })
    },  
    goBack() {
      this.$router.push({ name: 'home' });
    }
  },
  watch: {
    '$route': 'fetchData',
    '$route': 'fetchUser'
  },
  created() {
    this.fetchData(),
    this.fetchUser()
  }
}
</script>

<style scoped>
.profile{
  height: auto;
}
.profile .body{
  height:40px;
  width:900px;
  margin-left:300px;
  text-align: center;
  margin-top:20px;
}

.profile .body .body-body{
  height: 100px;
  border: 2px solid;
  border-radius: 25px;
  margin-bottom: 5px;
  background-color: aquamarine;
}

.profile .body .body-body table{
  margin-left: 300px;
  margin-top:5px;
  
}

.profile .body .body-title{
  border: 2px solid;
  border-radius: 25px;
  margin-bottom: 5px;
  background-color: aquamarine;
}
.prrofile .body .body-body{
  border: 2px solid;
  border-radius: 25px;
  background-color: aquamarine;
}

.profile .navbar{
  height:40px;
  width:900px;
  margin-left:300px;
  text-align: center;
  background-color: cadetblue;
  border: 2px solid;
  border-radius: 25px;
}

.profile .navbar h3{
  color:black;
  margin-top:10px;
}
.profile .postList{
  height:auto;
  width:900px;
  margin-left:300px;
  text-align: center;
  background-color: lightblue;
  margin-top:180px;
}
.profile .postList .title{ 
  text-align: center;
  border: 0px solid;
  border-radius: 25px;
  margin-top: 10px;
}

.profile .postList .body-footer{
  color: grey;
  text-align: right;
  margin-right: 5px;
}

.profile .postList .bosluk{
  background-color: white;
  height: 25px;
}
</style>