<template>
  
    <div class="body">
      <div class="title">
        <router-link :to="postLink">
          <h1>{{post.title}}</h1>
        </router-link>
      </div>
    <div class="body-body">{{post.body}}</div>
    <div class="body-footer">{{post.createDate}}</div>
  </div> 
</template>

<script>
export default {
  name: 'PostItem',
  props: {
    post: { type: Object, required: true }
  },
  computed: {
    postLink() {
      return `/post/${this.post.userId}`;
    }
  }
}
</script>

<style scoped>
.body{
  height:auto;
  width:900px;
  margin-left:300px;
  text-align: center;
  background-color: lightblue;
  margin-top:25px;
  -webkit-box-shadow: 1px 0 2px black;
	-moz-box-shadow: 1px 0 2px black;
	box-shadow: 1px 0 2px black;

}

.body .title{
  
  text-align: center;
  border: 0px solid;
  border-radius: 25px;
}

.body .body-footer{
  
  color: grey;
  text-align: right;
  margin-right: 5px;
}

</style>

